@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Global styles */
:root {
    --green: #82b22f;
    --lightg: #b6ff39;
    --red: #e56161;
    --pf: black;
    --sf: #333333;
    --bg: #ffffff;
    --border-radius: 20px;
}

::-webkit-scrollbar {
    display: none;
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  background-color: var(--bg);
}

Header, Footer {
    border: 1px solid #e0e0e0;
}

button, input, textarea {
    font-family: 'Outfit', sans-serif;
}

input {
    outline: none;
    padding-inline: 10px;
}

/*Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    height: 7vh;
}

a {
    text-decoration: none;
    color: var(--pf);
    font-size: 2vh;
    transition: ease-in-out 0.3s;
}

a.active, a:hover {
    color: var(--red);
}

ul {
    list-style: none;
    display: flex;
    gap: 8vh;
    padding: 0;
}

ul li{
    white-space: nowrap;
}

.personal {
    display: flex;
    gap: 1vw;
    align-items: center;
    margin-left: 8vw;
}

.personal button {
    border: 2px solid var(--green);
    background-color: var(--bg);
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.personal button:hover {
    background-color: var(--green);
}     

/* home styles */

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    height: 89.7vh;
}

.home h1 {
    font-size: 3vw;
    margin: 0;
}

.home p {
    font-size: 20px;
    color: var(--sf);
}

.home span {
    color: var(--green);
    font-weight: bolder;
}

.home .buttons {
    display: flex;
    gap: 20px;
}

.home button {
    border: 2px solid var(--green);
    background-color: var(--bg);
    cursor: pointer;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.home .order:hover {
    background-color: var(--lightg);
}

.home .explore:hover {
    background-color: var(--green);
}

.circle {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: right;
}

/* carousel styles */
.carousel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around   ;
    align-items: center;
    color: var(--bg);
    transition: ease-in-out 0.3s;
}

.carousel h1 {
    font-size: 4vw;
}

.carousel button {
    border: none;
    cursor: pointer;
    color: var(--bg);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    font-size: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    filter: drop-shadow(0px 0px 10px var(--bg));
    border: 1px solid var(--bg);
}

.carouselInner {
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.carouselInner img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    transition: transform 0.5s ease, width 0.5s ease, opacity 0.5s ease-in-out;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px black);
}
.carouselInner .active {
    width: 15vw;
    height: 15vw;
}
.carouselInner img:hover, .carouselInner button:hover{
    transform: scale(1.1);
}

.carouselInner button {
    border: 4px solid var(--bg);
    background-color: var(--green);
    color: var(--bg);
    font-size: 100px; 
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    transition: ease-in-out 0.1s;
    filter: none;
}


.carouselInner button:hover {
    border: 2px solid var(--bg);
    font-size: 25px;
}

.carousel .info{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    background-color: var(--bg);
    padding: 20px;
    border-radius: calc(2* var(--border-radius));
    filter: drop-shadow(0px 0px 10px black);
}

.carousel .info h1 {
    font-size: 50px;
    margin: 0;
    color: var(--green);
}

.carousel .info p {
    font-size: 20px;
    text-align: center;
    color: black;
}

/* wtb styles */
.wtb {
    display: flex;
    align-items: center;
    height: 91vh;
    justify-content: space-around;
    overflow: hidden;
    background-color: var(--green);
}

.wtb .reasons {
    display: flex;
    width: 100vw;    
    justify-content: space-around;
    flex-direction: column;
    padding: 50px;
}

.wtb .reasons .row {
    display: flex;
    width: 100vw;
    align-items: center;
    gap: 50px;
}

.wtb .reason {
    width: 30vw;
    border-radius: var(--border-radius);
    padding-inline-start: 20px;
    background-color: var(--bg);
    box-shadow: 0px 0px 10px black;
}
.wtb .food {
    position: absolute;
    width: 300px;
    height: auto;
    filter: drop-shadow(0px 10px 5px black);
}
.wtb .row img {
    width: 250px;
    height: auto;
}

.wtb p {
    font-size: 20px;
    color: var(--sf);
}

/* products styles */
.products {
    height: 80vh;
    background-color: var(--green);
    padding-inline: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.search {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    align-items: center;
    gap: 1%;
}

.search .bar {
    display: flex;
    align-items: center;
    background-color: var(--bg);
    border-radius: var(--border-radius);
    width: 50%;
    height: 5vh;
    justify-content: space-between;
}

.search button {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    margin: 0;
    border: none;
    background-color: var(--red);
}

.search .bar img {
    height: 1vw;
    width: 1vw;
}

.search input {
    width: 90%;
    height: 2.5vw;
    border-radius: var(--border-radius);
    border: none;
}

.categories {
    height: 15%;
    background-color: var(--red);
}

.categories h1 {
    font-size: larger;
    margin: 0;
}

.productList {
    height: 70%;
    background-color: var(--sf);
}

/* footer styles */
footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    background-color: var(--bg);
    font-size: 20px;
}