@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Global styles */
:root {
    --green: #82b22f;
    --lightg: #b6ff39;
    --red: #e56161;
    --bg: #ffffff;
    --border-radius: 8px;
}

body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  background-color: var(--bg);
}

a {
    text-decoration: none;
    color: black;
}

Header, Footer {
    border: 1px solid #e0e0e0;
}

/*Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 120px;
    margin: 0;
    padding: 0;
}

ul li{
    white-space: nowrap;
}

ul li:hover {
    /*color: white;*/
}

.personal {
    display: flex;
    gap: 20px;
    align-items: center;
}

.personal button {
    background-color: var(--green);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.personal button:hover {
    background-color: var(--lightg);
}     
