/* Global styles */
:root {
    --1: #3498db;
    --2: #2ecc71;
    --border-radius: 8px;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

Header, Footer {
    border: 1px solid #e0e0e0;
}

/*Header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
}

ul {
    list-style: none;
    display: flex;
    gap: 120px;
    margin: 0;
    padding: 0;
}

ul li:hover {
    /*   background-color: #f8f8f8; */
}

.personal {
    display: flex;
    gap: 20px;
    align-items: center;
}

.personal button {
    background-color: #cecece;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.personal button:hover {
    background-color: #e2e2e2;
}     
